/* 
    Document   : tiwulfx-demo
    Created on : Jan 14, 2013, 11:54:12 AM
    Author     : Amrullah <amrullah@panemu.com>
    Description:
        Purpose of the stylesheet follows.
*/


/* 
    Document   : style
    Created on : Jan 25, 2013, 7:36:27 PM
    Author     : Amrullah <amrullah@panemu.com>
    Description:
        Purpose of the stylesheet follows.
*/

.top-panel {
    -fx-background-image: url("images/CoarseGrid.png");
    -fx-background-repeat: repeat;
    -fx-background-color:#747d88;
}

.top-panel .label {
    -fx-text-fill: white;
}

.top-panel .text-field  {
    -fx-background-color:
        rgb(255, 255, 255, 0.3),
        linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8) 50%),
        rgb(218, 226, 224);
    -fx-background-insets: 0 0 -1 0, 0, 1.5;
    -fx-background-radius: 6, 5, 4;
    /*-fx-padding: 6 10 4 10;*/
    -fx-effect: innershadow( gaussian, rgb(0, 0, 0, 0.8), 5, 0, 0, 2 );
    -fx-font-family: "Arial";
}

.top-panel .button {
    -fx-background-color:
    	rgb(255, 255, 255, 0.08),
    	rgb(0, 0, 0, 0.8),
        #090a0c,
        linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
        linear-gradient(#242a2e, #23282e),
        radial-gradient(center 50% 0%, radius 100%, rgba(135,142,148,0.9),
        rgba(255,255,255,0));
    /*-fx-background-radius: 7, 6, 5, 4, 3, 5;*/
    /*-fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;*/
	-fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    /*-fx-padding: 10 20 10 20;*/

}

#app-title {
    -fx-font-family: "Arial";
    -fx-font-size: 30;
    -fx-text-fill: rgb(255, 255, 255, 0.8);
    -fx-effect: dropshadow( one-pass-box , rgb(0, 0, 0, 0.6), 0, 0.0 , 1 , 3 );
    -fx-font-weight: bold;
}

.collapse-button {
    -fx-background-color: null;
    -fx-padding: 1 0 1 0;
    /*-fx-background-insets: 2;*/
    -fx-opacity: 0.4;
}

.collapse-button:hover{
    -fx-padding: 2 0 0 0;
    -fx-opacity: 1;
}

.menu-container {
    -fx-background-image: url("images/CoarseGrid.png");
    -fx-background-repeat: repeat;
    -fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.menu-container .titled-pane > .title {
    -fx-background-color: transparent;
    -fx-border-color: 
        rgb(0, 0, 0, 0.5) transparent transparent  transparent,
        rgb(255, 255, 255, 0.2) transparent transparent  transparent;
    -fx-border-width: 1, 1.5;
    -fx-border-insets: 0, 1;
}

.menu-container .first-menu > .title{
    -fx-border-color: transparent, transparent;
}

.menu-container .titled-pane {
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: rgb(255, 255, 255, 0.8);
    -fx-effect: dropshadow( one-pass-box , rgb(0, 0, 0, 0.6), 0, 0.0 , 0 , 1 );
}

.menu-container .titled-pane > .title{
    -fx-padding: 0 0 0 -13;
}

.main-menu-button {
    -fx-background-color: transparent;
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: rgb(255, 255, 255, 0.8);
    -fx-effect: dropshadow( one-pass-box , rgb(0, 0, 0, 0.6), 0, 0.0 , 0 , 1 );
}
.main-menu-button:hover {
    -fx-background-color: rgb(255, 255, 255, 0.2);
}
.main-menu-button-item {
    -fx-background-color: transparent;
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: rgb(255, 255, 255, 0.8);
    -fx-effect: dropshadow( one-pass-box , rgb(0, 0, 0, 0.6), 0, 0.0 , 0 , 1 );
    -fx-border-color: 
        rgb(0, 0, 0, 0.5) transparent transparent  transparent,
        rgb(255, 255, 255, 0.2) transparent transparent  transparent;
    -fx-border-width: 1, 1.5;
    -fx-border-insets: 0, 1;
    -fx-padding: 2;
}

.main-menu-button-item:hover {
    -fx-background-color: rgb(255, 255, 255, 0.2);
}

.menu-container .titled-pane > *.title > *.arrow-button *.arrow{
    -fx-shape: null;
}

.menu-container .titled-pane > *.content {
    -fx-background-color: transparent;

    /*-fx-background-insets: 0, 0 1 1 1;*/
    /*-fx-padding: 0.167em;*/
}

#main-menu-popup {
    -fx-padding: -30 -6 -8 2;
    -fx-border-image-source: url("images/main-popup.png");
    -fx-border-image-slice: 34 20 12 12 fill;
    -fx-border-image-width: 34 20 12 12;
    -fx-border-image-repeat: stretch;
}
#main-menu-popup-header {
    -fx-text-fill: white;
}
